<%= content_for :title do %>
  Feedback
<% end %>
<%= content_for :back_path do %>
  <%= leaderboard_path(@event) %>
<% end %>

<div class="header ui-bar-a">
  <% if @participant.image_name == '' %>
    <%= image_tag('nopic.jpg') %>
  <% else %>
    <%= image_tag("flags/#{@participant.image_name}") %>
  <% end %>
  <div class='participant-info'>
    <h1><%= @participant.position %></h1>
    <p><%= @participant.position %></p>
      <%= link_to 'rate', feedback_path(@event.id, @participant.id), id: 'feedback_button', data: { icon: 'star', role: 'button', mini: 'true' } %>
    <p class="hashtag-wrap">
      <span id="event_hashtag" class="event_hashtag">#<%= @event.hashtag %></span>
      <span id="user_hashtag" class="user_hashtag">#<%= @participant.hashtag %></span>
      <span class="percentage-vote">avg rating</span>
    </p>
    <p>
    <span class='ratint-count'><%= @participant.ratings.first.rating_count %> reviews</span>
    <span class='percentage-vote'><%= draw_stars(@participant.rating_num) %></span>
    </p>
  </div>
</div>

<div class="tweet-bar ui-bar-c">
  <%= image_tag 'twitter.png', class: 'twitter-logo' %>
  <span>recent tweets</span>
</div>

<div class="content" data-role="content">	
  <ul class="twitter-list" data-role="listview">
    <% @tweets.each do |tweet| -%>
      <li class="participant">
      <%= image_tag "#{tweet.twitter_icon}", class: 'twitter-user-image' %>

      <div class="twitter-message-wrap">
        <div class="twitter-user-info">
          <%= content_tag :h1, tweet.user_display %>
          <%= content_tag :span, "@#{tweet.user_handle}", class: 'twitterhandle' %>
        </div>
        <%= content_tag :p, tweet.feedback, class: 'twitter-user-message' %>
        <%= content_tag :span, "#{time_ago_in_words(tweet.timestamp)} ago", class: 'timestamp' %>
        <%= content_tag :p,  class: 'percentage-vote' do %>
          <%= draw_stars(tweet.rating) %>
        <% end %>
      </div>
      </li>
  <% end %>
  </ul>
</div>
