<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="<%= image_path 'touch-icon-iphone.png' %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'touch-icon-ipad.png' %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'touch-icon-iphone4.png' %>" />
    <%= stylesheet_link_tag    "mobile" %>
    <%= javascript_include_tag "mobile" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    

    <div data-role="page" data-add-back-btn="true" data-theme="a">
      <div data-role="header" data-theme="b">
        <h1><%= yield :title %></h1>
        <% if current_user %>
          <%= link_to 'Logout', signout_path, class:"ui-btn-right", rel: 'external', data: { icon: 'delete' } %>
        <% else %>
          <a href='/auth/twitter' rel="external" data-icon="twitter" class="ui-btn-right">Login</a>
        <% end %>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
