<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "jquery.mobile" %>
    <%= stylesheet_link_tag    "leaderboard" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.mobile.min" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "mobile" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    

    <div data-role="page" data-add-back-btn="true" data-theme="a">
      <div data-role="header" data-theme="b">
        <h1><%= yield :title %></h1>
        <% if current_user %>
          <%= link_to current_user.name, signout_path, class:"ui-btn-right", data: { icon: 'delete' } %>
        <% else %>
          <a href='/auth/twitter' rel="external" data-icon="twitter" class="ui-btn-right">Login</a>
        <% end %>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
